body {
	margin: 0;
	font-family: "Oswald", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f8f8f8;
	padding: 20px 40px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}
